@model RegisterViewModel
<partial name="_Notification"/>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Register</h2>
            <hr/>
        </div>
        @{
            User user = new User();
        }
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="UserId"></label>
            <input placeholder="userId" asp-for="UserId" class="form-control"/>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input placeholder="email" asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input placeholder="password" type ="password" asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input placeholder="Confirm password" type ="password" asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Register</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Back to home
        </a>
    </div>
</form>